<!DOCTYPE html>
<html lang="en">

<head>
    <meta equiv="content-type" content="text/html; charset=utf-8">
    <title>Publish a Newsletter</title>
</head>

<body>
    {% for (_, flash) in flashes %}
    <p><i>{{ flash }}</i></p>
    {% endfor %}
    <form action="/admin/newsletter" method="post">
        <label>Title
            <input placeholder="Enter a title" name="title">
        </label>
        <br>
        <label>HTML Content
            <input placeholder="Enter HTML-formatted content" name="html">
        </label>
        <br>
        <label>Confirm new password
            <input placeholder="Enter plain text content" name="text">
        </label>
        <br>
        <input hidden type="text" name="idempotency_key" value="{{ idempotency_key }}">
        <button type="submit">Publish</button>
    </form>
    <p><a href="/admin/dashboard">&lt;- Back</a></p>
</body>

</html>